body {
  font-family: Arial, sans-serif;
}
.main-table {
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

.main-table td {
  border: 2px solid black;
  padding: 20px;
}

.nested-table {
  width: 100%;
  border-collapse: collapse;
}

.nested-table th,
.nested-table td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: disc;
  text-align: left;
  padding-left: 40px;
}

.black-cell {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
}